.hero-section {
  background-color: var(--background-color);
  min-height: 80vh;
}

.hero-section h1 {
  margin-top: 20px; /* Adjust as needed */
  font-family: var(--heading-font);
  font-size: 3.5rem;
  color: var(--primary-color);
}

.hero-section p {
  font-family: var(--body-font);
  font-size: 1.25rem;
  color: var(--text-dark-color);
}

.hero-img {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#happy-customers .rounded-circle {
  border: 5px solid var(--primary-color);
}

#our-trucks .card-img-top {
  height: 180px; /* Fixed height for truck images */
  object-fit: cover; /* Ensure images cover the area without distortion */
}

#loading-process .card-img-top {
  height: 180px; /* Fixed height for packing team images */
  object-fit: cover; /* Ensure images cover the area without distortion */
}

@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section p {
    font-size: 1rem;
  }
}