.footer {
  background-color: #212529 !important;
}

.footer img {
  filter: brightness(0) invert(1);
}

.footer .list-unstyled a:hover {
  color: var(--accent-color) !important;
}

.footer .social-icons a {
  transition: color 0.3s ease;
}

.footer .social-icons a:hover {
  color: var(--accent-color) !important;
}