.contact-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/images/photos/map.jpg') no-repeat center center fixed;
  background-size: cover;
}

.contact-info {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-info i {
  color: var(--accent-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-light-color);
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: darken(var(--primary-color), 10%);
}

.btn-success {
  background-color: #25D366;
  color: var(--text-light-color);
  border: none;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: darken(#25D366, 10%);
}